@import "./trumps";

.pri-btn {
    border-radius: $btn-brd;
    padding: 12px 40px;
    background-color: $pri-btn-default;
    color: $white !important;

    &:hover {
        background-color: $pri-btn-hov;
    }

    &:focus {
        background-color: $pri-btn-foc;
    }

    &:disabled {
        background-color: $pri-btn-disabled;
    }
}

a {
    font-size: 14px;
    line-height: 21px;
}

.sec-btn-def {
    @extend .pri-btn;

    background-color: $sec-btn-default;
}

.newsletter {
    background: #F8F8F8;
    padding: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    .sub-newsletter {
        @extend %generic;

        margin-top: 0;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        @include screen("large") {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            text-align: center;
        }


        .input-group-text {
            background: $white;
        }

        input {
            height: 3.5rem;
            border-left: none;
            margin-left: -8px;
        }

        .left {
            max-width: 520px;
        }

        .right {
            min-width: 376px;

            @include screen("xsmall") {
                min-width: 280px;

                button {
                    width: 280px !important;
                }
            }
        }
    }
}

a{cursor: pointer;}