@import "./reset";

$pri-btn-default: #188FF7;
$pri-btn-hov: #0767BC;
$pri-btn-foc: #507A8A;
$pri-btn-disabled: #DDF3FF;
$sec-btn-default: #E5E5E5;
$landing-grey: #F8F8F8;
$white: #fff;
$black: #222222;
$grey: #828282;
$orange: #F78018;

// borders
$btn-brd: 4px;
