.input-container {
    margin-bottom: 20px;
}

.field-icon {
    float: right;
    margin-left: -20px;
    margin-top: -32px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
    font-size: 18px;
}

.field-icon:hover {
    cursor: pointer;
}

.input-field {
    height: 50px;
    font-size: 18px;
}